<div class="tab-container">
  <a
    routerLink="/schedule/request"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="tab-item">
    Request
  </a>
  <a
    routerLink="/schedule/calendar"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="tab-item">
    Calendar
  </a>
  <a
    routerLink="/schedule/blocked-days"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="tab-item">
    Blocked Days
  </a>
</div>

<router-outlet></router-outlet>

