.content-container {
  padding: 20px;
}

.filter-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}


.filter-group {
  display: flex;
  align-items: center;
}


.location-select {
  display: flex;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  padding: 5px 10px;
  width: 150px;
  max-width: 100%;
  margin-right: 10px;
}


.sort-button {
  display: flex;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  padding: 5px 10px;
  max-width: 100%;
  margin-right: 10px;
  background-color: white;
}

.sort-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}


.add-button {
  display: flex;
  align-items: center;
  border: 1px solid #2F5A76;
  background-color: #2F5A76;
  border-radius: 20px;
  padding: 5px 10px;
  width: 150px;
  height: 50px;
  max-width: 100%;
  color: white;
  margin-right: 10px;
}

.add-button i {
  margin-right: 10px;
  font-size: 18px;
}

//.add-button:hover {
//  background-color: #004466;
//}
