<div class="content-container">
  <div class="filter-options">
    <div class="filter-group">
      <select class="location-select">
        <option value="all">All locations</option>
        <option value="location1">Location 1</option>
        <option value="location2">Location 2</option>
        <option value="location3">Location 3</option>
      </select>
      <button class="sort-button" (click)="onSort()">
        <img src="sort.png" alt="Sort Icon" class="sort-icon">
        Sort
      </button>
    </div>

    <button
      routerLink="/schedule/request/add-time-off"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="add-button" (click)="addTimeOff()">
      <i>+</i> Add time off
    </button>
  </div>
</div>


<div class="spinner">
  <app-spinner *ngIf="isLoading"></app-spinner>
</div>


<div class="time-off-container" *ngIf="!isLoading">
  <div class="time-off-list">
<!--    <app-user-card *ngFor="let user of users" [user]="user"></app-user-card>-->
    <div *ngFor="let user of users">
      <app-user-card [user]="user" (delete)="onDelete(user)"></app-user-card>
    </div>

  </div>
</div>
