div {
  margin-bottom: 15px;
}

div a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

div a img {
  width: 20px;
  margin-right: 10px;
  //color: white;
}

div a:hover,
div a:focus,
div a.active {
  border: 1px solid #2F5A76;
  background-color: #2F5A76;
  color: white;
}



