div {
  margin-bottom: 15px;
}

div a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

div a img {
  width: 20px;
  margin-right: 10px;
}

div a:hover,
div a:focus,
div a.active {
  background-color: #E9F2FF;
  color: #333;
}
