<div class="header">
  <h1 class="title">Time off</h1>
  <div class="header-icons">
    <div class="search">
      <input type="text" placeholder="Search...">
      <button class="search-btn">
        <img src="search.png" alt="Search">
      </button>
    </div>
    <button class="icon-btn">
      <img src="notification.png" alt="notifications">
    </button>
    <button class="icon-btn">
      <img src="setting.png" alt="Setting">
    </button>
    <p class="line">|</p>
    <app-user-profile></app-user-profile>
  </div>
</div>
